* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
}

img {
    height: 30vw;
    width: 100%;
    object-fit:cover;
}

.left-btn,
.right-btn {
    font-size: 2vw;
    position: absolute;
    background-color: red;
    top: 50%;
}

.left-btn {
    left: 1rem;
}

.right-btn {
    right: 1rem;
}